html,
body {
  height: 100%;
}

.bg-forest {
  background-image: url("../img/forest.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.header-title {
  background-color: #ffffff78;
  border-radius: 10px;
}

.img-computer {
  opacity: 0.7;
  border-radius: 10px;
}
