html,
body {
  height: 100%;
}

.bg-forest {
  background-image: url("../img/forest.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.the-box {
  background-color: #ffffffb6;
  border-radius: 10px;
  color: #5c5c5c;
}

.img-computer {
  opacity: 0.7;
  border-radius: 10px;
}

.tags .badge {
  color: black;
  font-size: 1.1rem;
  background-color: white;
  border: 1px solid gray;
  margin: 10px;
}

.box-content {
  color: black;
  font-size: 1.2rem;
}
